extends ../layout

block content
  .container
    if movie && movie.title
    .row
      .col-md-7
        if movie.poster.indexOf('http') > -1
          img(src=movie.poster, alt=movie.title, width="600")
        else
          img(src='/upload/' + movie.poster, alt=movie.title, width="600")
      .col-md-5
        .dl-horizontal
          dt 电影名字:
          dt= movie.title
          dt 导演:
          dt= movie.director
          dt 国家:
          dt= movie.country
          dt 上映年份:
          dt= movie.year
          dt 简介:
          dt= movie.summary
        .panel-heading
          h4 评论区
        .panel-body
          ul.media-list(style="padding-left:0")
            if comments && comments.length > 0 
              each item in comments
                if item && item.from
                  li.media
                    a.comment(href='#comments',
                    data-cid=item._id,data-tid=item.from._id)
                      img.media-object(src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+',style="width:64px;margin-right:10px")
                    .media-body
                      h5.media-heading #{item.from.nickname}
                      p #{item.content}
                      if item.replies && item.replies.length > 0
                        each reply in item.replies
                          .media
                            a.comment(href='#comments',
                            data-cid=item._id,
                            data-tid=reply.from._id)
                              img.media-object(src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+',style="width:64px;margin-right:10px")
                            .media-body
                                h5.media-heading
                                  | #{reply.from.nickname}
                                  span.text-info &nbsp;回复&nbsp;
                                  | #{reply.to.nickname}
                                p #{reply.content}
            #comments
              form#commentForm(methos='POST', action='/comment')
                input(type='hidden', name='comment[movie]',
                value=movie._id)
                if user
                  input(type='hidden', name='comment[from]',
                  value=user._id)   
                  input#commentId(type='hidden',name='comment[cid]')
                  input#toId(type='hidden',name='comment[tid]')  
                .form-group
                  textarea.form-control(name='comment[content]',
                  row='4')
                if user
                  button#commentSubmit.btn.btn-primary(type='submit') 提交评论
                else
                  a.navbar-link(href='#', data-toggle='modal',
                  data-target='#signinModal') 登陆后评论
  script.
    $(function() {
      $('.comment').click(function(e) {
        var target = $(this)
        var toId = target.data('tid')
        var commentId = target.data('cid')

        $('#toId').val(toId)
        $('#commentId').val(commentId)
      })

      $('#commentSubmit').click(function(e) {
        e.preventDefault()

        $.ajax({
          type: 'POST',
          url: '/comment',
          data: $('#commentForm').serialize()
        }).done(function(results) {
          if (results.success) {
            window.location.reload()
          }
        })
      })
    })